/*
	~> Nebi Şenol
	~> 22.10.2022
	~> mail@nebisenol.com.tr
	~> nebisenol.com.tr
*/
html, body { 
width: 100%;
height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
}

h3 {
	font-weight: normal;
}

.sayfa {
	width: 100%;
	height: 100%;
	color: #ffffff;
	display: table;
	margin-top: 0px;
	background-image: linear-gradient(90deg,#801515,#530e53,#261758,#123652,#116611,#697b15,#806d15,#805215,#801515,#530e53);
	background-size: 900% 100%;
	-webkit-animation: ArkaPlanAnimasyonu 10s linear infinite;
	-moz-animation: ArkaPlanAnimasyonu 10s linear infinite;
	-o-animation: ArkaPlanAnimasyonu 10s linear infinite;
	animation: ArkaPlanAnimasyonu 10s linear infinite;
}

@-webkit-keyframes ArkaPlanAnimasyonu {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}
@-moz-keyframes ArkaPlanAnimasyonu {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}
@-o-keyframes ArkaPlanAnimasyonu {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}
@keyframes ArkaPlanAnimasyonu {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}

.ortala {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.profil {
	border-radius: 50% !important;
	border: .5rem solid rgba(255,255,255,.2);
}

.menu {
	margin-top: 10px;
	border-radius: 13px;
	background-color: rgba(255,255,255,.2);
	color: #ffffff;
	width: 100px;
}

.menu:hover {
	background-color: rgba(255,255,255,.4);
	color: #ffffff;
}

.kart {
	border-radius: 13px;
	background-color: rgba(255,255,255,.2);
	color: #ffffff;
}

.bosluk {
	margin-top: 10px;
}

.sayfaustbosluk {
	margin-top: 10px;
}

.sayfaaltbosluk {
	margin-bottom: 10px;
}

.fa {
	margin-top: 10px;
	padding: 10px;
	font-size: 20px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	border-radius: 13px;
	background: rgba(255,255,255,.2);
	color: white;
}

.fa:hover {
	background: rgba(255,255,255,.4);
	color: white;
}