/*
	~> Nebi Şenol
	~> 17.10.2021
	~> info@nebisenol.com.tr
	~> nebisenol.com.tr
*/

html, body { 
/*Doctype html kullanıldığında, yani HTML5 kullanıldığında bu kısım zorunlu.*/
margin: 0px;
width: 100%;
height: 100%;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

h3 {
	font-weight: normal;
}

.sayfa {
	width: 100%;
	height: 100%;
	color: #ffffff;
	display: table;
	margin-top: 0px;
	background: #159957;
	background: linear-gradient(120deg, #155799, #159957);

}

.ortala {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.profil {
	border-radius: 50% !important;
	border: .5rem solid rgba(255,255,255,.2);
}

.fa {
	padding: 10px;
	font-size: 20px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	background: #000000;
	color: #ffffff;
}

.fa:hover {
	opacity: 0.6;
}